<div class="jumbrotron"> 
  <h1>Welcome to Elizabeth's homepage!</h1>
  <p>You can learn more <%= link_to "about me", about_path %> or <%= link_to "contact me directly", contact_path %> at any time. </p>
</div>
